@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=National+Park:wght@200..800&display=swap');

* {
font-family: "National Park", sans-serif;  
}


body,html {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#ffffcc -20%, white 100%);
  background-repeat: no-repeat;
  height: 100%;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.recipeContainer {
background-color: rgba(255,255,255,1);
display: flex;
flex-direction: row;
gap: 3vw;
padding: 0px 3vw 3vw 3vw;
justify-content: flex-start;
overflow-x: visible;
overflow-y: hidden;
width: 100%;
scroll-behavior: smooth;
}

.recipe {
background-color: transparent;
display: flex;
flex-direction: column;
overflow: hidden;
flex: 0 0 250px;
border-radius: 0px;
}

.recipeImage {
aspect-ratio: 7/8;
width: 100%;
object-fit: cover;
display: block;
border-radius: 10px;
}

.recipeRecommended {
font-size: 2rem;
border-radius: 1000px;
color: black;
padding: 0.3vh 4vw;
}

.RecommendedRecipeContainer {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: white;
}

.recipeTitle {
font-size: 2rem;
margin-left: 3vw;
}

.recipeDescription {
font-size: 1.7rem;
margin-top: -10px;
margin-left: 3vw;
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;

}

nav, .navDiv{
margin: 0px;
position: fixed;
left: 0px;
z-index: 10000;
bottom: env(safe-area-inset-bottom, 0px);
}

.navDiv {
background: linear-gradient(transparent, white);
border: 0px solid black;
border-radius: 0px;
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100%;
backdrop-filter: blur(30px);
margin: 0px;
padding: 0px;
}

.profileImage {
aspect-ratio: 1/1;
border-radius: 1000px;
max-width: 5vw;
}


.navIconContainer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1vh;
padding: 2vh 0px 1vh;
}

.navSpan {
text-decoration: none;
color: #808080;
font-size: clamp(0.9rem,2.6vw,3rem);
}

svg {
min-width: 8vw;
}

.RecommendedNavSpan {
text-decoration: none;
color: grey;

}
